<ol class="post-list text-center">
  {{#each posts as |post|}}

    {{> post-info post }}

  {{/each}}
</ol>

{{!-- <section class="body-container">
        <div class="post-container">
            <h2 class="post-title">This is a Post's Title</h2>
            <p>Posted By X</p>
            <p class="post-body">This is the body of a post, where you can make your thoughts public.</p>
            <ul class="comments-section">
                <div class="comment-container">
                    <h6>X Number of Comment(s)</h6>
                    <p class="comment-body">This is the text of a comment.</p>
                    <p class="comment-username">Commenter's Username</p>
                </div>
            </ul>
        </div>

        <div class="post-container">
            <h2 class="post-title">This is a Post's Title</h2>
            <p>Posted By X</p>
            <p class="post-body">This is the body of a post, where you can make your thoughts public.</p>
            <ul class="comments-section">
                <div class="comment-container">
                    <h6>X Number of Comment(s)</h6>
                    <p class="comment-body">This is the text of a comment.</p>
                    <p class="comment-username">Commenter's Username</p>
                </div>
            </ul>
        </div>
    </section> --}}